[submodule "Boost/Boost-Source"]
	path = Boost/Boost-Source
	url = https://github.com/boostorg/boost.git
[submodule "FMU/tests/googletest"]
	path = FMU/tests/googletest
	url = git@github.com:google/googletest.git
